.galleryCard {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-card 2.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  overflow: hidden;
  letter-spacing: 0;
  text-decoration: none;
  background: #000;
  color: white;

  h1 {
    text-align: center;
    opacity: 0;
    z-index: 1;
    font-size: 22px;
    transition: all 1.0s
  }

  img {
    position: absolute;
    z-index: 0;
    transition: all 1.0s;
    width: 100%;
    height: 100%;
  }

  &:hover h1 {
    opacity: 1;
    letter-spacing: 5px;
  }

  &:hover img {
    opacity: 0.5;
    transform: scale(1.1,1.1);
  }
}

.zoomIn {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.85);
 
  img {
    cursor: pointer;
    position: absolute;
    width: 80%;
    height: 80%
  }

  .close {
    position: fixed;
    color: white;
    top: 4%;
    right: 10%;
    font-size: 35px;
    font-weight: bold;
  
    &:hover {
      cursor: pointer;
      color: #999;
      text-decoration: none;
    }
  }
}

.hide {
  visibility: hidden
}

@keyframes slide-card {
  0% {
    transform: translateY(-2000px) translateX(180px) translateZ(-1000px);
    opacity: 0
  }
  25% {
    opacity: 0.1
  }
  50% {
    opacity: 0.4
  }
  75% {
    opacity: 0.7
  }
  100% {
    transform: translateY(0px) translateX(0px) translateZ(0px);
    opacity: 1
  }
}