.blog_post {
    position: relative;
    margin-bottom: 100px; 
    line-height: 1.5;

    img {
        position: relative;
        width: 100%;
        height: 400px;
        opacity: 1;
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
        z-index: 1;
    }

    h1 {
        position: inherit;
        top: -10px;
        display: flex;
        flex-flow: row;
        justify-content: center
    }

    .post_content {
        position: relative;
        margin: -40px 25px;
        padding: 24px 0;
        background: rgba(255, 255, 255, 0.8);
        opacity: 1;
        z-index: 2;
       
        h1, h2, h3, h4, h5, h6 {
            padding: 0 7px;
            color:rgb(38, 40, 44);
        }
        p {
            padding: 7px 25px;
            font-size: 20px;
            color: black;
        }
    }
}