backend:
   name: git-gateway
   branch: deploy
   accept_roles: #optional - accepts all users if left out
    - admin
    - editor
  
media_folder: static/assets
public_folder: assets

collections:
  - name: blog
    label: Blog
    folder: src/markdown/blog
    create: true
    fields:
      - { name: title, label: Title }
      - { name: date, label: Date, widget: date }
      - { name: path, label: Path }
      - { name: tags, label: Tags }
      - { name: image, label: Card Blog Image, widget: image }
      - { name: seo, label: SEO }
      - { name: body, label: Body, widget: markdown }
      
  - name: gallery
    label: Gallery
    folder: src/markdown/gallery
    create: true
    fields:
      - { name: title, label: Title }
      - { name: img, label: Image, widget: image }
      - { name: path, label: Path }
  
  - name: projects
    label: Projects Timeline
    folder: src/markdown/projects
    create: true
    identifier_field: text
    fields:
      - { name: category, label: Category Tag }
      - { name: color, label: Tag Color }
      - { name: date, label: Date, widget: date }
      - { name: text, label: Project Description }
      - { name: link, label: Link, required: false }
      - { name: linkinfo, label: Link Info, required: false }



  