.search {
  &:before {
    content: '';
    border-radius: 50%;
    width: 51px;
    height: 51px;
    border: 4px solid rgb(208, 224, 235);
    position: absolute;
    animation: grow 2s infinite;
    cursor: pointer;
  }

  img {
    cursor: pointer;
    width: 23px;
    height: 23px;
    margin: 20px 0 0 20px;
    position: absolute;
    z-index: 1000;
  }

  input {
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 20px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(to right, rgba(65, 90, 115, 0.9), #e5eefa);
    color: white;
    transition: width 1s ease;
    font-size: 1.6em;

    &::placeholder {
      color: transparent;
      padding: 0 30px;
      transition: color 0.8s;
    }
    &:focus {
      outline: none;
    }
  }

  p {
    color: rgb(38, 55, 73);
    text-transform: uppercase;
    font-size: 1em;
    text-align: left;
    margin-left: 50px;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: opacity 4s;
  }

  .active {
    cursor: text;
    padding-left: 60px;
    width: 80%;

    &::placeholder {
      padding: 0 3px;
      color: rgb(38, 55, 73);
    }

    &:focus {
      color: white;
    }
  }

  .span {
    visibility: hidden;
    opacity: 0;

    &_active {
      display: block;
      position: relative;
      left: 25px;
      transition: all 4s;
      visibility: visible;
      opacity: 1;
    }
  }
}

@keyframes grow {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
