$line: #ff3b3b;
$backgroundColor: white;

.timeline_item, .box {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.timeline_container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

.timeline_container::after {
  background-color: $line;
  content: '';
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
   @media (max-width: 576px) {
    width: 2px;
    left: calc(50% - 1px);
  }
}

.timeline_item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;
}

.timeline_item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

.timeline_item_content {
  box-shadow: 0 15px 35px 0 rgba(124, 135, 141, 0.226);
  border-radius: 5px;
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  position: relative;
  width: 400px;
  max-width: 70%;
  text-align: right;

  &:hover {
    transition: all 0.7s ;
    box-shadow: 
      0 15px 35px 0 rgb(174, 180, 194),
      120px 100px 250px #d9e7ff5e inset;          
  }

  @media (max-width: 576px) {
    time {
      display: flex;
      margin-top: 25px;
      flex-direction: column;
      width: 100%;
      text-align:center;
    }
    .tag {
      width: 85%;
      text-align:center;
    }
    p {
      width: 100%;
      text-align:center;
    }
  }
}

.timeline_item_content::after {
  content: ' ';
  background-color: $backgroundColor;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}

.timeline_item:nth-child(odd) .timeline_item_content {
  text-align: left;
  align-items: flex-start;
}

.timeline_item:nth-child(odd) .timeline_item_content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline_item_content .tag {
  color: $backgroundColor;
  font-size: 12px;
  font-weight: bold;
  top: 5px;
  left: 5px;
  letter-spacing: 1px;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
}

.timeline_item:nth-child(odd) .timeline_item_content .tag {
  left: auto;
  right: 5px;
}

.timeline_item_content time {
  color: #777;
  font-size: 12px;
  font-weight: bold;
}

.timeline_item_content p {
  line-height: 1.5;
  margin: 15px 0;
  font-size: 20px;
  max-width: 95%;
  @media (max-width: 576px) {
    font-size: 14px !important;
  }
}

.timeline_item_content a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: $line;
  }
}

.timeline_item_content a::after{
  content: ' ►';
  font-size: 12px;
}

.timeline_item_content .box {
  background-color: $backgroundColor;
  border: 1px solid $line;
  border-radius: 20%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
}

.timeline_item:nth-child(odd) .timeline_item_content .box {
  right: auto;
  left: -40px;
}


