.card {
  position: relative;
  width: 100%;
  height: 100%;
  top: 3px;
  animation: onLoad 0.8s linear;

  border-radius: 25px;
  background: white;
  box-shadow: 0 15px 45px 0 rgba(124, 135, 141, 0.65);

  &:hover {
    top: 0px;
    transition: all 0.7s;
    box-shadow: 0 15px 45px 0 rgba(102, 111, 131, 0.931);
  }

  img {
    margin: 0;
    width: 100%;
    height: 50%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .content {
    display: inline-flexbox;
    font-size: 0.9rem;
    text-align: center;
    vertical-align: bottom;

    h4 {
      display: inline-block;
      margin: 30px 10px;
      font-size: 1.5rem;
      text-decoration: none;
      text-align: center;
      color: rgb(62, 69, 73);
    }

    span {
      position: relative;
      display: inline-block;
      margin: 2% 8%;
      width: 33%;
      height: 33%;
      text-decoration: none;
      text-align: center;
      vertical-align: bottom;
      color: rgb(93, 93, 93);
      background: rgb(192, 205, 212);
      border-radius: 10px;
    }
  }
}

@keyframes onLoad {
  0% {
    top: 30px;
    opacity: 0;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.4;
  }
  100% {
    top: 3px;
    opacity: 1;
  }
}
